<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhascp.partyhere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/partyhere_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/partyhere_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShareMeetingActivity"></activity>
        <activity android:name=".InputPlaceActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ExistMeetingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="partyhere.com"
                    android:scheme="http" />
                <data
                    android:host="partyhere.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".InputTypeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>